---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { folders } from "@src/pdfs";

interface Props {
  filePath: string;
  fileName: string;
}

export const getStaticPaths = (() => {
  return folders.flatMap((folder) =>
    folder.files.map((file) => ({
      params: { files: file[0] },
      props: {
        filePath: file[1],
        fileName: file[0]!.split("/").pop()! + "." + file[1]!.split(".").pop()!,
      },
    })),
  );
}) satisfies GetStaticPaths;

const { filePath, fileName } = Astro.props;
const fileSlug = fileName.split(".")[0];
---

<Layout title="Prova">
  <hgroup>
    <h1>{fileSlug}</h1>
    <a class="contrast" href={filePath} download={fileName}>Download</a>
  </hgroup>

  <section>
    <object data={filePath} type="application/pdf">
      <p>Seu navegador não tem suporte a PDF</p>
      <a href={filePath} download={fileName}> Faça o download da prova </a>
    </object>
  </section>
</Layout>

<style>
  embed,
  iframe,
  object {
    width: 100%;
    height: 1455px;
  }
</style>
